<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="banner-header">
            <img class="banner" src="~/Content/Images/Dragon_Banner2.png" />
        </div>
        <div class="container">
            
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
               @* @Html.ActionLink("Application name", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })*@
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Home", "Index", "Home")</li>
                    <li>@Html.ActionLink("Weapons", "Weapons", "Home")</li>
                    <li>@Html.ActionLink("Armour", "Armour", "Home")</li>
                    <li>@Html.ActionLink("Masks", "Contact", "Home")</li>
                    <li>@Html.ActionLink("Props", "Contact", "Home")</li>
                    <li>@Html.ActionLink("About Us", "About", "Home")</li>
                    <li>@Html.ActionLink("Contact Us", "Contact", "Home")</li>

                </ul>
            </div>
        </div>
    </div>
    <div class="main-area" >
        <div align="center" class="float-left left-area"></div>
        <div align="center" class="float-left center-area">
            @RenderBody()
        </div>
        <div align="center" class="float-left right-area"></div>
    </div>

    @RenderSection("scripts", required: false)
    @Scripts.Render("~/bundles/bootstrap")
</body>
</html>
