<input type="hidden" name="Catagory" id="Catagory" value="@ViewBag.Catagory">
<input type="hidden" name="SubCatagory" id="SubCatagory" value="@ViewBag.SubCatagory">
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>



@section Scripts {
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/Content/Scripts/catalog.js")
}